<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>831689638350-bme9b266v6vnp20295j6poehvm1hrevq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831689638350-bme9b266v6vnp20295j6poehvm1hrevq</string>
	<key>API_KEY</key>
	<string>AIzaSyD3DgkdtU1e9LMEdswS7EHmZ4_FlnDc6EE</string>
	<key>GCM_SENDER_ID</key>
	<string>831689638350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.invain.mh</string>
	<key>PROJECT_ID</key>
	<string>mirko-hospitality-ea7e2</string>
	<key>STORAGE_BUCKET</key>
	<string>mirko-hospitality-ea7e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831689638350:ios:3e92959c9aa4e49add2b9f</string>
</dict>
</plist>